.home-blogs-wrapper {
  display:grid;
  grid-template-columns: 320px 320px 320px 320px;
  grid-template-rows: 570px 570px;
  grid-template-areas: 
    "first first second third"
    "first first fourth fifth";
  column-gap: 30px;
  row-gap: 30px;
}
.blog-first {
  grid-area: first;
  border: 1px solid red;
}
.blog-second {
  grid-area: second;
  border: 1px solid red;
}
.blog-third {
  grid-area: third;
  border: 1px solid red;
}
.blog-fourth {
  grid-area: fourth;
  border: 1px solid red;
}
.blog-fifth {
  grid-area: fifth;
  border: 1px solid red;
}
