.home-blogs-wrapper {
  display:grid;
  grid-template-columns: repeat(4,calc(100vw/5));
  grid-template-rows: repeat(2, 360px);
  grid-template-areas: 
    "first first second third"
    "first first fourth fifth";
  column-gap: 10px;
  row-gap: 10px;
}
.blog-first {
  grid-area: first;
  border: 4px solid white;
  border-radius: 6px;
  background-color:white;
}
.blog-second {
  grid-area: second;
  border: 4px solid white;
  border-radius: 6px;
  background-color:white;
}
.blog-third {
  grid-area: third;
  border: 4px solid white;
  border-radius: 6px;
  background-color:white;
}
.blog-fourth {
  grid-area: fourth;
  border: 4px solid white;
  border-radius: 6px;
  background-color:white;
}
.blog-fifth {
  grid-area: fifth;
  border: 4px solid white;
  border-radius: 6px;
  background-color:white;
}
.contact-form-wrapper {
  padding: 40px 0;
  display:grid;
  grid-template-columns: repeat(2, 400px);
  grid-template-rows: repeat(7, 66px);
  grid-template-areas: 
    "name email"
    "organization phone"
    "school school"
    "help help"
    "message message"
    ". ."
    "send .";
  column-gap: 5px;
  row-gap: 10px;
}
.form-name{
  grid-area: name;
}
.form-email{
  grid-area: email;
}
.form-organization{
  grid-area: organization;
}
.phone{
  grid-area: phone;
}        
.form-school{
  grid-area: school;
}
.form-help{
  grid-area: help;
}
.form-message{
  grid-area: message;
}
.form-send{
  grid-area: send;
}
.contact-form-wrapper input, .contact-form-wrapper select, .contact-form-wrapper textarea {
  border: 2px solid black;
  border-radius: 8px;
}
