.slick-next:before {
  color: purple !important;
}
.slick-prev:before {
  color: purple !important;
}
.slick-prev {
  left: 15px !important;
}
.slick-next {
  right: 15px !important;
}
.slick-prev,
.slick-next {
  width: 6px !important;
  top: 40% !important;
}
body {
  min-width: 100%;
  padding: 0;
  margin: 0;
}
a:hover {
  text-decoration: none !important;
}
.primary-menu-elements a p:hover {
  color: #658ac8;
}
.home-blogs-wrapper {
  display: grid;
  grid-template-columns: repeat(4, 235px);
  grid-template-rows: repeat(2, 360px);
  grid-template-areas:
    "first first second third"
    "first first fourth fifth";
  column-gap: 10px;
  row-gap: 10px;
}
.mobile-home-blogs-wrapper {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(4, 1fr);
  grid-template-areas:
    "first first"
    "first first"
    "second third"
    "fourth fifth";
  column-gap: 10px;
  row-gap: 10px;
}
.blog-first {
  grid-area: first;
  border: 4px solid white;
  border-radius: 6px;
  background-color: white;
}
.blog-second {
  grid-area: second;
  border: 4px solid white;
  border-radius: 6px;
  background-color: white;
}
.blog-third {
  grid-area: third;
  border: 4px solid white;
  border-radius: 6px;
  background-color: white;
}
.blog-fourth {
  grid-area: fourth;
  border: 4px solid white;
  border-radius: 6px;
  background-color: white;
}
.blog-fifth {
  grid-area: fifth;
  border: 4px solid white;
  border-radius: 6px;
  background-color: white;
}
.contact-form-wrapper {
  padding: 40px 0;
  display: grid;
  grid-template-columns: repeat(2, 400px);
  grid-template-rows: repeat(7, 66px);
  grid-template-areas:
    "name email"
    "organization phone"
    "school school"
    "help help"
    "message message"
    ". ."
    "send .";
  column-gap: 5px;
  row-gap: 10px;
}
.form-name {
  grid-area: name;
}
.form-email {
  grid-area: email;
}
.form-organization {
  grid-area: organization;
}
.phone {
  grid-area: phone;
}
.form-school {
  grid-area: school;
}
.form-help {
  grid-area: help;
}
.form-message {
  grid-area: message;
}
.form-send {
  grid-area: send;
}
.contact-form-wrapper input,
.contact-form-wrapper select,
.contact-form-wrapper textarea {
  border: 2px solid black;
  border-radius: 8px;
}
.slick-list {
  padding: 25px 0 15px 0 !important;
}
.bnwhite-card-image {
  filter: grayscale(100%);
}
#blog-entry a {
  color: #365d9e;
  text-decoration: underline;
  font-weight: 900;
}
.modal {
  position: fixed;
  z-index: 1;
  display: flex;
  background-color: rgba(2, 13, 32, 0.9);
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  justify-content: center;
  align-items: center;
}
.modal_content {
  background-color: white;
  position: absolute;
}
.hoverable {
  cursor: pointer;
}
#volunteers-contact-form input {
  background-color: white;
  border: 1px solid white;
}
#footer-form input {
  background: rgba(255, 255, 255, 0.1);
}
.footer-wrapper a {
  text-decoration: underline;
}

.footer-wrapper a:hover {
  text-decoration: underline;
  color: #658ac8;
  font-weight: 900;
  cursor: pointer;
}
.menu-modal {
  position: fixed;
  z-index: 1;
  display: flex;
  background-color: rgba(2, 13, 32, 0.9);
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  justify-content: flex-start;
}
.block-scroll {
  overflow: hidden;
}
.menu-mobile-wrapper {
  transition: 0.5s;
}
#main-footer.hide {
  display: none;
}
#blog-entry p {
  margin: 25px 0;
}
.slick-initialized .slick-slide {
  display: flex !important;
  justify-content: center !important;
}
.donate-block p {
  margin-bottom: 15px;
}
.donate-block h2 {
  font-size: 20px;
  font-weight: 600;
  margin-bottom: 20px;
}
.contact-form-wrapper-mobile {
  min-height: 560px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.removeScroll::-webkit-scrollbar {
  display: none;
}

/* .template-one h1 p {
  text-align: center;
  margin: 2% 0 0 0;
}
.template-one h2 {
  text-align: center;
  font-size: 30px;
  font-weight: 600;
  margin-bottom: 20px;
}

.template-one ul {
  list-style-type: none;
  padding: 0;
}

.template-one li:before {
  content: "\003E";
  display: inline-block;
  margin-left: -1.3em;
  width: 1.3em;
}
li {
  padding-left: 1.3em;
  padding-right: 1em;
  text-transform: capitalize;
  font-weight: 900;
}

.template-one .full-center {
  display: flex;
  justify-content: center;
  margin-bottom: 1em;
  align-items: center;
}

.template-one .two-cols {
  width: 50%;
  padding: 20px 0;
}
.template-one .center {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}
.template-one .two-cols iframe {
  padding: 1em;
}

@media screen and (max-width: 700px) {
  .template-one .full-center {
    flex-direction: column;
  }
  .template-one .full-center p {
    margin-top: 20px;
  }
  .template-one .two-cols {
    width: 100%;
  }

  .two-cols iframe {
    max-height: 200px;
  }
}

.template-one .slick-prev:before {
  color: brown !important;
  background-color: white;
}
.template-one .slick-next:before {
  color: brown !important;
  background-color: white;
}

.template-one .slick-list {
  padding: 8px !important;
}
.template-one p {
  margin-top: 10px !important;
} */

/*

*/

@media screen and (min-width: 999px) {
  .custom-template .text-left {
    padding-left: 12px;
    border-left: #658ac8 8px solid;
  }
  .custom-template .text-right {
    padding-right: 12px;
    border-right: #658ac8 8px solid;
  }
}

.custom-template h1 p {
  text-align: center;
  margin: 2% 0 0 0;
}
.custom-template h2 {
  text-align: center;
  font-size: 30px;
  font-weight: 600;
  margin-bottom: 20px;
}

.custom-template ul {
  list-style-type: none;
  padding: 0;
}

.custom-template li:before {
  content: "\003E";
  display: inline-block;
  margin-left: -1.3em;
  width: 1.3em;
}
li {
  padding-left: 1.3em;
  padding-right: 1em;
  text-transform: capitalize;
  font-weight: 900;
}

.custom-template .full-center {
  display: flex;
  justify-content: center;
  margin-bottom: 1em;
  align-items: center;
}

.custom-template .two-cols {
  width: 50%;
}
.custom-template .center {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}
.custom-template .two-cols iframe {
  padding: 1em;
}

@media screen and (max-width: 700px) {
  .custom-template .full-center {
    flex-direction: column;
  }
  .custom-template .full-center p {
    margin-top: 20px;
  }
  .custom-template .two-cols {
    width: 100%;
  }

  .two-cols iframe {
    max-height: 200px;
  }
}

.custom-template .slick-list {
  padding: 8px !important;
}
.custom-template p {
  margin-bottom: 10px !important;
}
.infinite-scroll-view {
  display: flex;
  flex-wrap: wrap;
}
